<div class="container-flex">
  <div class="row" style="padding: 25px 0px;">
    <div class="col-md-12">
      <%= image_tag "icon-al-1024.png", width: '50%', alt: "Alist Logo", class: 'rounded mx-auto d-block' %>
    </div>
  </div>
</div>
